.spinner-border {
    /* margin-top: 5rem; */
    margin: auto 0;
    width: 5rem;
    height: 5rem;
}

.spinner {
    background-color: white;
    border-radius: 6.4px;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
}

.spinner h1 {
    font-family: Roboto;
    padding-bottom: 5rem;
    color: #464646;
}