.basket-list thead tr th {
    background-color: rgb(247, 247, 249);
    font-family: Roboto;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
}

.basket-list .clear-basket i {
    color: white;
}

.basket-list .clear-basket {
    margin-top: 1.5rem;
    background-color: #cc0000;
    border: none;
    font-weight: 500;
}

.basket-list .clear-basket:hover {
    box-shadow: 1px 1px 5px #464646;
}
