.workshop-item {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 500px;
}

.workshop-item img {
    height: 200px;
    object-fit: cover;
}

.workshop-item .card-body h4 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

.workshop-item .card-body .card-text {
    color: rgba(0, 0, 0, 0.9);
    font-family: Roboto;
    font-size: 16px;
}

.workshop-item .card-body .workshop-date i {
    color: #78c2ad;
}

.workshop-item .card-body .workshop-date {
    position: absolute;
    bottom: 15px;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}