.header-news {
    border-radius: 6.4px;
    background-image: url('../../../assets/news-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: color-dodge;
}

.header-news h1 {
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.8);
    font-size: 46px;
    font-weight: 500;
}