.course-module-link {
    width: 100%;
    position: relative;
    text-align: left;
}

.course-module-link::before {
    content: '\f107';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: 'FontAwesome';
    font-size: 1.1rem;
}

.course-module-link[aria-expanded='true']::before {
    content: '\f106';
}

.course-module-item .course-module-link {
    font-family: Roboto;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
}