.jumbotron h1 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 56px;
    font-weight: 500;
}

.jumbotron .alert {
    transition: all 0.4s;
}

.login p {
    font-family: Roboto;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}

.login form .form-group label {
    font-family: Roboto;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}