.category-item img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    border-radius: 5px;
}

.category-item a {
    color: rgba(0, 0, 0, 0.9);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}

.category-item a:hover {
    margin: 0;
    color: #78c2ad;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}