.timeline-item h4 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: 22px;
}

.timeline-item p {
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}

.timeline-item i {
    color: #78c2ad;
}

.timeline-item .lesson-description {
    color: rgba(0, 0, 0, 0.9);
    font-family: Roboto;
    font-size: 16px;
}