.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 2rem;
    z-index: 15;
}

.logo-medestet {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #E8CBC0;
  background: -webkit-linear-gradient(to right, #E8CBC0, #636FA4);
  background: linear-gradient(to right, #E8CBC0, #636FA4);
}

.logo-medestet img {
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vertical-nav .nav .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.vertical-nav ul li {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
  padding: 5px;
}

/* .page-content .children {
  margin-top: 4rem;
} */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
    width: 100%;
  }

  #content {
    width: 100%;
    margin: 0;
    transition: all 0.4s;
  }
  #content.active {
    visibility: hidden;
    display: none;
    margin-left: 17rem;
    width: calc(100% - 17rem);
    transition: all 0.4s;
  }
}
  
body {
background: #599fd9;
background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
background: linear-gradient(to right, #599fd9, #c2e59c);
min-height: 100vh;
overflow-x: hidden;
}

.separator {
margin: 3rem 0;
border-bottom: 1px dashed #fff;
}

.text-uppercase {
letter-spacing: 0.1em;
}

#sidebarCollapse {
    color: #5a5a5a;
    position: fixed;
    z-index: 20;
}

#sidebarCollapse:active
#sidebarCollapse:focus {
    outline: none;
    color: #5a5a5a;
}

/* Шрифты */

.vertical-nav .nav .nav-item .nav-link {
  font-family: Roboto;
  font-weight: 500;
  color:rgba(0, 0, 0, 0.9);
}

.vertical-nav .text-gray {
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 18px;
}
