.course-detail {
    background-color: white;
    min-height: 600px;
    border-radius: 6.4px;
    margin-bottom: 5rem;
    width: 100%;
}

.course-detail .spinner {
    padding-top: 5rem;
    padding-bottom: 2rem
}

.course-detail-error {
    padding: 5rem;
}

.course-detail-spinner {
    padding: 5rem;
}