.option-item h4 {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
}

.option-item .option-item-detail p {
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
}

.option-item .option-item-detail i {
    color: #78c2ad;
}

.option-item .option-item-detail .description p {
    font-size: 16px;
    font-family: Roboto;
}
