.course-header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    border-radius: 6.4px;
    width: inherit;
    margin: 0 auto;
}

.course-header .col-md-8 {
    margin-left: 3rem;
}

.course-header .col-md-8 h1 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: 3rem;
}

.course-header .col-md-8 p {
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
}

.course-header .col-md-8 .course-detail-info i {
    color: #78c2ad;
}

.course-header .col-md-8 .course-detail-info {
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}

