.payments-info {
  background-color: #fff;
  border-radius: 10px;
  padding: 3rem 1rem;
}

.payments-info h3 {
  margin-top: 2rem;
}

.payments-info ol {
  margin-top: 1rem;
  color: #5A5A5A;
}

.payments-info p {
  color: #5A5A5A;
  margin-top: 1rem;
}
