.product-grid3 {
    text-align: center;
    position: relative;
    z-index: 1;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 6.4px;
    padding: 10px;
    font-family: Roboto;
}

.product-grid3 .product-image3 a img {
    height: 200px;
    object-fit: contain;
    padding: 5px;
}

.product-grid3:before {
    height: 81%;
    width: 100%;
    background: #fff;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease 0s
}

.product-grid3 .product-image3 {
    position: relative
}

.product-grid3 .product-image3 a {
    display: block
}

.product-grid3 .product-image3 img {
    width: 100%;
    height: auto
}

.product-grid3 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.product-grid3:hover .pic-1 {
    opacity: 0
}

.product-grid3 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.product-grid3:hover .pic-2 {
    opacity: 1
}

.product-grid3 .product-content {
    z-index: -1;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

.product-grid3 .product-content .card-title {
    color:rgba(0, 0, 0, 0.9);
    font-size: 16px;
    font-weight: 500;
}

.product-grid3 .product-content .card-title:hover {
    color: #78c2ad
}

.product-grid3 .product-content:hover {
    text-decoration: none;
}

.product-grid3 .price {
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.product-grid3 .price i {
    color: #78c2ad;
}

@media only screen and (max-width:990px) {
    .product-grid3 {
        margin-bottom: 30px
    }

}
